body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Computer Modern';
  src: url('fonts/math-regular.otf') format('opentype');
}

svg text {
  font-family: 'Computer Modern', sans-serif;
  fill: #2D3748;
}

.x2 {
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
}

.x3 {
  stroke-dasharray: 1142;
  stroke-dashoffset: 1142;
}

.x4 {
  stroke-dasharray: 1215;
  stroke-dashoffset: 1215;
}

.x5 {
  stroke-dasharray: 1260;
  stroke-dashoffset: 1260;
}

.x2,
.x3,
.x4,
.x5 {
  animation: draw 4s ease-in forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.sin-1 {
  animation: appear 2s ease-in-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}